<%- include("../particals/group_nav.ejs") -%>

<main class="container">
    <h1>Leiding van <%= group.name %></h1>

    <ul>
        <% users.forEach(function(user){ %>
            <li><%= user.firstname %> <%= user.lastname %></li>
        <% }) %>
    </ul>

</main>