<main class="container" id="backofficecontainer">

    <%- include("./particals/back_office.ejs") %>
    <div class="interface">
        <h2>Alle verhalende kaders</h2>
        <div class="info">
            <% groups.forEach(function(group) { %>
                <form action="/vk/allvk/<%= group.group_id %>" method="GET">
                    <button type="submit"><%= group.name %></button>
                </form> 
            <% }) %>
        </div>
    </div>
            
</main>