<head>
    <script src="/public/js/link.js"></script>
</head>

<main class="container" id="backofficecontainer">
    <%- include('./particals/back_office.ejs') %>

   <div id="backofficecreation">
       
    <div id="creationform">
        <h1>Maak nieuwtje</h1>
        <%- include('./particals/messages.ejs') %>

        <form action="/newsfeed/create" method="POST" enctype="multipart/form-data">
            <label for="title">Titel </label>
            <input id="title" type="text" name="title" placeholder="Titel...">
            <br>
            <label for="description">Beschrijving </label>
            <br>
            <button type='button' id="link" style="width: 50px">Link</button>
            <button type='button' id="vet" style="width: 50px">Vet</button>
            <button type='button' id="cursief" style="width: 50px">Cursief</button>
            <br>
            <textarea name="description" id="feedDescription" cols="120" rows="10">Beschrijving van het nieuwtje...</textarea>
            <br>
            <label for="start_publication">Start publicatie </label>
            <input id="start_publication" type="date" name="start_publication">
            <br>
            <label for="end_publication">Einde publicatie </label>
            <input id="end_publication" type="date" name="end_publication">
            <br>
            <label for="picture_path">Foto </label>
            <input  type="file" name="image" placeholder="Pad...">
            <br>
            <button type="submit">Maak nieuwtje</button>
        </form>
    </div>

   </div>

</main>