<head>
    <link rel="stylesheet" href="/public/css/leiders_page.css">
</head>

<main class="leiderscontainer">
    <div class="picLogin">
        <h1>Leiding</h1>
        
        <a href="/users/login">Login</a>
        <br>
        <br>
        <img src="/public/images/leiding.jpg">
    </div>

</main>