<main class="container" id="backofficecontainer">
    <%- include('./particals/back_office.ejs') %>
    <div class="interface">
        <h2>Nieuwtjes</h2>
        <div class="info">
            <% newsfeeds.forEach(function(newsfeed) { %>
                <div class="interfaceinfo">
                    <p><%= newsfeed.title %>
                        <div class="buttons">
                            <a href="/newsfeed/update/<%= newsfeed.feed_id %>">bewerk</a>
                            <a href="/newsfeed/delete/<%= newsfeed.feed_id %>">delete</a>
                        </div>
                    </p>
                    
                </div>
            <% }) %>
        </div>
        <a class="addLink" href="/newsfeed/create">Nieuwe nieuwtje</a>
    </div>
</main>