<head>
    <link rel="stylesheet" href="/public/css/wafelbak.css">
</head>

<main id="wafelbakcontent">
    <div>
        <h2>Bestelling is met succes geplaatst!</h2>
        <p>Vanuit heel Ksa Rooyghem, bedankt voor uw bestelling! <br>
            <br>
            Verdere info over uw bestelling zal u vinden op de site of via facebook, <br>
            Bij het afhalen van uw bestelling zal u de keuze hebben om ter plaatse te betalen met kaart of cash. 
            <br>
            <br>
            Wij werken met een belonings systeem, in de onderstaande link zal je moeten invullen hoeveel pakketten u heeft besteld.
            Hiervoor zal u een beloning kunnen ontvangen! <br>
            <a href="https://forms.gle/BN9z56WTKQCKQf1x6">Link beloningsformulier</a>
            <br>
            <br>
            Hopelijk geniet u van uw heerlijke wafels!
        </p>
    </div>
    <div id="wafelbakphoto">
        <img src="/public/images/wafelbak.jpg" alt="Wafelbak">
    </div>
</main>