<main class="container" id="backofficecontainer">
    <%- include("./particals/back_office.ejs") %>

    <div id="backofficecreation">
        <div class="vkForm">
            <h1>Verhalend kader</h1>

            <%- include('./particals/messages.ejs') %>

            <form action="/vk?_method=PUT" method="post">
                <textarea id="vkTextarea" name="story" cols="120" rows="10"><%= vk %></textarea>
                <br>
                <button type="submit">Post vk</button>
            </form>
        </div>
    </div>
</main>