<main class="container" id="backofficecontainer">
    <%- include('./particals/back_office.ejs') %>
    <div class="interface">
        <h2>Albums</h2>
        <div class="info">
            <% albums.forEach(function(album) { %>
                <div class="interfaceinfo">
                    <div class="interfaceinfo-inner">
                        <img src="/public/images/album1.svg" width="50" height="auto">
                        <p> <%= album.name %></p>
                        <div class="albumButtons">
                            <a href="/albums/update/<% album.album_id %>">bewerk</a>
                            <a href="/albums/delete/<% album.album_id %>">delete</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        <a class="addLink" href="/albums/create">Nieuwe album</a>
    </div>
</main>