<main class="container" id="backofficecontainer">
    <%- include('./particals/back_office.ejs') %>
    <div class="interfacePhoto">
        <h2>Fotos in <%= album.name %></h2>
        <div class="infoPhoto">
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
                <div class="interfaceinfoPhoto">
                    <img src="/public/images/album1.svg" width="auto" height="150">
                    <br>
                    <a href="/albums/delete/1">delete</a>
                </div>
        </div>
        <a class="addLink" href="/albums/create">Nieuwe Foto('s)</a>
    </div>
</main>