<main class="container" id="backofficecontainer">
    <%- include('./particals/back_office.ejs') %>
    <div class="interface">
        <h2>Albums</h2>
        <div class="info">
                <a href="/albums/check/1">
                    <div class="interfaceinfo">
                        <div class="interfaceinfo-inner">
                            <img src="/public/images/album1.svg" width="50" height="auto">
                            <p>Title 1</p>
                        </div>
                    </div>
                </a>
        </div>
    </div>
</main>