<main class="container" id="backofficecontainer">

    <%- include("./particals/back_office.ejs") %>

    <div id="backofficecreation">
        
        <div id="creationData">
            <h1>Alle Verhalende Kaders</h1>
        
            <% groups.forEach(function(group) { %>
                <form action="/vk/allvk/<%= group.group_id %>" method="GET">
                    <button type="submit">vk: <%= group.name %></button>
                </form> 
                <br>
            <% }) %>
        </div>
    </div>
            
</main>