<main id="contactcontainer">
    <div id="contactinfo">
        <h2>KSA-Rooyghem Sint-Kruis VZW</h2>
        <h3>Adres Maatschappelijke zetel: </h3>

        <p>Engelendalelaan 18 <br>
            8310 St-Kruis <br>
            <a href="/">www.ksarooyghem.be</a> <br>
            <a href="mailto:info@ksarooyghem.be">info@ksarooyghem.be</a>
        </p>

        <h3>Contactgegevens Bondsleiding: </h3>

        <% bondsleiders.forEach(function(bondsleider) { %>
            <h4><%= bondsleider.firstname %> <%= bondsleider.lastname %></h4>
            <p><%= bondsleider.phone %></p>
            <p><%= bondsleider.email %></p>
        <% }) %>

        <h3>Bankgegevens KSA Rooyghem: </h3>
        <p>IBAN: BE86 7380 3624 2050</p>
        <p>BIC: KREDBEBB</p>
        <p>BANK: KBC Bank</p>
    </div>
    <div id="contactform">
        <h3>Stuur ons een bericht</h3>
        <form action="/contact" method="POST">
            <input name="naam" type="text" placeholder="Naam...">
            <input type="text" name="onderwerp" placeholder="Onderwerp...">
            <textarea name="bericht" placeholder="Bericht..." cols="30" rows="10"></textarea>
            <button type="submit" >Stuur bericht</button>
        </form>
    </div>
</main>