<main>
    <div class="login">
        <h1>Wachtwoord reset</h1>
        <%if(typeof error != "undefined"){%>
            <%- include('./particals/messages.ejs') %>
        <% } %>
        <form class="login-form" action="/forgot" method="POST">
            <input type="email" id="email" name="email" placeholder="Email..." autofocus>
            <br>
            <button type="submit">Stuur mail</button>
        </form>
    </div>
</main>