<head>
  <link rel="stylesheet" href="/public/css/index.css">
</head>
<% moment.locale("nl-be"); %>
<main class="container" id="index-container">
    <h2>Niet te missen!</h2>
    <section class="news">
      <% newsfeeds.forEach(function(feed) { %>
        <div class="newsfeed">
          <h3 class="feedtitle"><%= feed.title %></h3>
          <img src="<%= feed.picture_path %>" alt="Picture for <%= feed.title %>" class="feedimg">
          <p class="feedp"> <%= feed.description %> </p>
        </div>
    <% }) %>    
    </section>
</main>
