<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ksa Rooyghem</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
</head>
<body>
        <%- include("particals/navbar.ejs") -%>
        <%- body %>
        <%- include("particals/footer.ejs") -%>
</body>
</html>