<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
    <meta name="description" content="Dit is de website van KSA Rooyghem. Een jeugdbeweging voor jongens van 6 tot en met 18 jaar in Sint-Kruis en Male.">
    <meta name="keywords" content="jeugdbeweging, rooyghem, brugge, sint-kruis, male">
    <meta name="author" content="Webteam KSA Rooyghem">
    <title>KSA Rooyghem</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/calendar.css">
    <script src="/public/js/main.js"></script>
    <script src="/public/js/locales/nl.js"></script>
    <script type="text/javascript" src="/public/js/index.js"></script>
</head>
<body>
    <%- include("particals/navbar.ejs") -%>
    <%- body %>
    <%- include("particals/footer.ejs") -%>
</body>
</html>