<main class="leiderscontainer">
    <div class="picLogin">
        <h1>Leiding</h1>
        
        <a href="/users/login">Login</a>
        <br>
        <br>
        <img src="/public/images/leiding.jpg">
    </div>

    <div class="text">
        <p>Lorem ipsum dolor sit amet,Cras sodales turpis quis ante imperdiet rutrum. Ut ligula lorem, euismod vel efficitur sed, semper vel sem. Mauris lobortis purus ac feugiat rhoncus. Mauris non orci hendrerit, varius eros vel, placerat massa. Mauris quis metus et lorem tempor aliquam at quis nisi. Nullam interdum, ante nec auctor gravida, justo purus elementum velit, non varius dui ipsum in dui. Fusce eget neque mauris. Curabitur tempor faucibus nisl, ut vestibulum dui sollicitudin quis. Donec erat sapien, auctor id facilisis sit amet, tempus sed lorem. Cras tellus dui, ultrices a consequat ac, pulvinar ac quam.</p>
    </div>

</main>