<main class="container">
    <%if(typeof error != "undefined"){%>
        <%- include('./particals/messages.ejs') %>
    <% } %>

    <h1>Login Page</h1>

    <form action="/users/login" method="POST">
        <input type="text" name="username" placeholder="Username...">
        <input type="password" name="password" placeholder="Password...">
        <input type="submit" value="Login to office">
    </form>

</main>