<main class="container">
    <%if(typeof error != "undefined"){%>
        <%- include('./particals/messages.ejs') %>
    <% } %>

    <div class="login">
        <h1>Login Page</h1>

        <form action="/users/login" method="POST" class="login-form">
            <input type="text" name="username" placeholder="Gebruikersnaam...">
            <br>
            <input type="password" name="password" placeholder="Wachtwoord...">
            <br>
            <button type="submit">Login</button>
        </form>
    </div>

</main>