<main class="container">
    <div class="login">
        <%- include('./particals/messages.ejs') %>
        <h1>Login Page</h1>

        <form action="/users/login" method="POST" class="login-form">
            <input type="text" name="username" placeholder="Gebruikersnaam...">
            <br>
            <input type="password" name="password" placeholder="Wachtwoord...">
            <br>
            <button type="submit">Login</button>
            <br>
            <br>
            <a href="/forgot">Wachtwoord vergeten?</a>
        </form>
    </div>

</main>