<h1>Office</h1>

<form action="/office" method="POST">
    <input type="text" name="name">
    <input type="password" name="password">
    <select name="ban">
        <option>Kabouters</option>
        <option>Paggaders</option>
        <option>Jongknapen</option>
        <option>Knapen</option>
        <option>Jonghernieuwers</option>
        <option>Hernieuwers</option>
        <option>Bondsteam</option>
        <option>Admin</option>
    </select>
    <input type="submit" value="Create User">
</form>