<main class="container" id="backofficecontainer">

    <%- include("./particals/back_office.ejs") %>

    <div id="backofficecreation">
        
        <div id="creationform">
            <h1>Foto('s) toevoegen aan <%= album.name %></h1>
            <%- include('./particals/messages.ejs') %>
            <form action="/albums/album/<%= album.album_id %>/add" method="POST" enctype="multipart/form-data">
                <input type="file" name="pic" id="upload" multiple>
                <div class="pic-group" style="display: none" >
                    <p>fkjldsqhfkljhqsd</p>
                </div>
                <br>
                <button type="submit">Voeg toe</button>
            </form>
        </div>
    </div>
    <script src="../public/js/image-upload.js"></script>
</main>