<head>
    <link rel="stylesheet" href="/public/css/group.css">
    <link rel="stylesheet" href="/public/css/modal.css">
    <script src="/public/js/image.js"></script>
</head>

<main class="container" id="backofficecontainer">
    <div class="interfacePhoto" style="width: 100%">
        <h2>Fotos in <%= album.name %></h2>
        <div class="infoPhoto">
            <% pictures.forEach(function(pic) { %>
                <div class="interfaceinfoPhoto">
                    <img id="myImg" src="<%= pic.path %>">
                </div>
                <% }) %>
            </div>
        </div>
    <div id="myModal" class="modal">
        <span class="close" onclick="this.style.display='none'">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <img class="modal-content" id="img01">
    </div>
</main>