<main>
    <div class="login">
        <h1>Reset wachtwoord</h1>
        <%- include('./particals/messages.ejs') %>
        <form class="login-form" action="/reset/<%= token %>" method="post">
            <input type="password" name="password" placeholder="Wachtwoord...">
            <input type="password" name="confirm" placeholder="Wachtwoord bevestigen...">
            <br>
            <button type="submit">Reset Wachtwoord</button>
        </form>
    </div>
</main>