<h1>Create users</h1>

<form action="/users/create" method="POST">
    <input type="text" name="firstname" placeholder="Firstname...">
    <br>
    <input type="text" name="lastname" placeholder="Lastname...">
    <br>
    <input type="email" name="email" placeholder="Email...">
    <br>
    <input type="text" name="username" placeholder="Username...">
    <br>
    <input type="password" name="password" placeholder="Password...">
    <br>
    <input type="text" name="phone" placeholder="Phone...">
    <br>
    <select name="is_admin">
        <option>0</option>
        <option>1</option>
    </select>
    <br>
    <select name="group_name">
        <% groups.forEach(function(group) { %>
            <option><%= group.name %></option>
        <% }) %>
    </select>
    <br>
    <input type="submit" value="Create User">
</form>

<h1>All users</h1>

<% users.forEach(function(user) { %>
    <p><%= user.user_id %>, <%= user.username %>, <%= user.group_id %></p>
<% }) %>