<a href="/">Back</a>

<%- include("./particals/back_office.ejs") %>

<h1>Verhalend kader</h1>

<form action="/vk?_method=PUT" method="post">
    <textarea name="story" cols="120" rows="10"><%= vk %></textarea>
    <br>
    <input type="submit" value="submit">
</form>