#backofficecontainer {
	max-width: 100%;
	margin-top: 10px;
    padding: 10px;
	display: grid;
	grid-template-columns: 200px 1fr;
}

@media only screen and (max-width: 700px) {
    #backofficecontainer {
	  max-width: 100%;
	  display: grid;
	  grid-template-columns: repeat(1, 1fr);
	}
	#backofficenavbar{
		display: block;
		margin-left: 0;
	}
	#backofficecreation{
		display: flex;
		max-width: 80%;
		margin-left: 0;
		padding: 0px;
	}
	#creationform {
		display: inline-block;
		width: 300px;
		margin-left: 10px;
	}
	.vkForm {
		display: block;
		width: 100%;
		left: 10px;
	}
	#backofficecreation form{
		width: 100%;
	}
	#backofficecreation input{
		width: 100%;
	}

	#creationData{
		margin-left: 10px;
		width: 350px;
	}
}

#backofficenavbar{
	width: min-content;
	padding: 10px;
}

#backofficenavbar a {
	text-decoration: none;
	display: block;
	margin: 10px;
	color: #f98d1e;
}

#backofficenavbar a:hover {
	color: #bbc3d7;
}

#backofficecreation{
	margin-left: 0;
	width: 80%;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}
#creationData{
	margin: 0;
	width: 80%;
	display: inline-block;
}

#backofficecreation form{
	width: 100%;
}

#backofficecreation label{
	margin-top: 20px;
}

#backofficecreation input{
	max-width: 100%;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
	outline: none;
	border: solid 1px #f98d1e;
	background-color: #ffebd6;
}
#backofficecreation select{
	max-width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
	outline: none;
	border: solid 1px #f98d1e;
	background-color: #ffebd6;
	padding-right: 5px;
}

#backofficecreation button{
	margin-top: 20px;
	padding: 10px;
	width: 30%;
	min-width: 100px;
	border-radius: 10px;
	border: solid 1px #f98d1e;
	background-color: #ffebd6;
	transition: 0.5s;
}

#backofficecreation button:hover{
	background-color: #f98d1e;
	transition: 0.5s;
	color: white;
}

#backofficecreation .delete-btn{
	margin-left: 20px;
	padding: 2px;
	width: 50px;
	border-radius: 10px;
	border: solid 1px #f95c1e;
	background-color: #fcb69b;
	transition: 0.5s;
}

#backofficecreation .delete-btn:hover{
	background-color: #f95c1e;
	transition: 0.5s;
	color: white;
}

.vkForm {
	margin-left: 0;
	width: 80%;
}

#backofficecreation textarea{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
	outline: none;
	border: solid 1px #f98d1e;
	background-color: #ffebd6;
}

#backofficecreation a{
	text-decoration: none;
	color: #f98d1e;
}

#backofficecreation a:hover{
	color: #bbc3d7;
}

#backofficecreation input[type='checkbox']{
	width: 16px;
}