.nieuws{
	padding:5px;
}

.newsfeed{
	max-width: 1fr;
	display: grid;
	padding:2px;
	grid-template-columns: max-content 1fr;
	grid-template-rows: min-content 1fr;
	grid-template-areas: "title title"
						 "img p";
}

.feedtitle {
	grid-area: title;
}

.feedimg {
	grid-area: img;
	max-width: 150px;
}

.feedp {
	grid-area: p;
	margin: auto 10px;
	padding-left: 20px;
	max-width: 60%;
}

#index-container {
    padding: 10px;
    display: grid;
    grid-template-rows: max-content 1fr;
}

.news{
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    display: grid;
	padding:5px;
	white-space: pre-line;
	overflow-wrap: break-word;
}

article{
	display: block;
    margin: auto;
}

#feedDescription {
	white-space: pre-wrap;
	overflow-wrap: break-word;
}