.leiderscontainer{
	padding: 10px;
	width: 60%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.leiderscontainer p {
	width: 100%;
}

.leiderscontainer a{
	text-decoration: none;
	color: #f98d1e;
}

.leiderscontainer a:hover{
	color: #bbc3d7;
}