/* General CSS */

html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas: "nav"
                         "main"
                         "footer";
    font-family:ff-ernestine-pro, sans-serif;
    color: #f98d1e;
    margin: 0px;
    font-style: normal;
    font-weight: 300;
    background-color: #FFFAF4;
}

/* index CSS */

.main{
	grid-area: main;
	width: 96%;
	margin-top: 30px;
}

.nieuws{
	padding:5px;
}/*grid maken + scroll horizontaal*/
article{
	display: block;
	padding:2px;
}

/* Navbar CSS */

.top-banner{
	grid-area: nav;
	width: 100%;
	height: 240px;
	padding-top: 20px;
	padding-bottom: 0px;
	background-image: url("../images/hoofd/main.jpg");
	background-position:bottom;
	background-size: cover;
} /*graag nog fade onderaan banner*/
#logo{
	position: relative;
    width: 20%;
    float:left;
    margin-left: 10px;
	margin-top: 100px;
    max-width: 200px;
}
.top-banner img{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
nav ul {
	text-align:left;
	list-style-type:none;
	padding-left: 0px;
}
li{
	display:inline;
	float: left;
	padding:1%;
}
nav a {
   	text-decoration: none;
    color: #f98d1e;
    display:block;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    font-family:futura-pt-bold,sans-serif;
	font-style: normal;
    font-weight: 300;
    font-size: 1em;
}
nav a:hover {
	color: #bbc3d7;
}

.weblinks-boven{
	float: left;
	width: 30%;
	display:flex;
}
.weblinks-boven img{
	height: 50px;
	width:auto;
}
.weblinks-boven :hover{
	opacity: 0.8;
	transition: 0.5s ease;
}

.drpdwn {
    position: relative;
    display: inline-block;
    height: 100%;
}

.drpdwn-content {
	padding: 10px;
	margin: -15px;
    display: none;
    position: absolute;
    background-color: grey;
    z-index: 1;
    text-decoration: none;
}

.drpdwn:hover .drpdwn-content {
    display: block;
}

/* Footer CSS */
footer{
	grid-area: footer;
	display: grid;
	width: 100%;
	grid-template-rows: 100%;
	grid-template-columns: 75% 25%;
	background-color:#f9e7d4;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	max-height: 100%;
}
.copyright{
	margin: 20px;
	width: 45%;
}
.weblinks-onder{
	float: right;
	width: 100%;
	margin-left: auto;
}

.weblinks-onder ul li {
    display: inline;
    float: right;
}

.weblinks-onder img{
	max-height: 40px;
	transition: 0.5s ease;
}
.weblinks-onder :hover {
	opacity: 0.8;
	transition: 0.5s ease;
}


/* Index CSS */

#index-container {
    padding: 10px;
    display: grid;
    grid-template-rows: max-content 1fr;
}

.news{
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    display: grid;
	padding:5px;
}/*grid maken + scroll horizontaal*/

article{
	display: block;
    padding: 5px;
    margin: 2px 3px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

/* Group view CSS */

#groupcontainer {
    margin-top: 10px;
    padding: 10px;
	display: grid;
    grid-template-columns: max-content 3fr 2fr;
	grid-column-gap: 20px;
	grid-template-rows: max-content max-content;
	grid-row-gap: 1fr;
    grid-template-areas: "info vk calendar"
                         "leaders leaders leaders";
}

#groupinfo {
    grid-area: info;
    margin-right: 20%;
}

#groupinfo img {
	max-width: 200px;
}

#groupstory {
    grid-area: vk;
    margin-left: auto;
    margin-right: auto;
}

#groupcontainer #calendar {
    grid-area: calendar;
}

#groupleaders {
	grid-area: leaders;
	grid-template-rows: max-content 1fr;
	grid-template-areas: "title"
						  "content";
}

#groupleaders-title {
	grid-area: title;
}

#groupleaders-content {
	margin: auto auto;
	grid-area: content;
}