#contactcontainer{
	margin-top: 10px;
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
}

#contactinfo {
	margin-left: 10px;
}

#contactinfo a {
	text-decoration: none;
	color: #f98d1e;
}

#contactinfo a:hover {
	color: #bbc3d7;
}

#contactform {
	width: 80%;
	margin-left: 10px;
	margin-bottom: 30px;
}

#contactform input {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
	outline: none;
	border: solid 1px #f98d1e;
	background-color: #ffebd6;
}

#contactform textarea {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
	outline: none;
	border: solid 1px #f98d1e;
	background-color: #ffebd6;
}

#contactform button{
	padding: 10px;
	width: 30%;
	min-width: 100px;
	border-radius: 10px;
	border: solid 1px #f98d1e;
	background-color: #ffebd6;
	transition: 0.5s;
}

#contactform button:hover{
	background-color: #f98d1e;
	transition: 0.5s;
	color: white;
}