.imgdiv {
    overflow: hidden;
    text-align: center;
}

.imgdiv img {
    /* display: block;
    margin: auto; */
    height: 100%;
    object-fit: fill;
}

.b-line {
    padding-bottom: 5px;
    border-bottom: 1px solid #f98b1ea1;
}

#tokshoplist {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    column-gap: 2em;
    row-gap: 1em;
    margin: 10px ;
    padding: 20px;
    border-radius: 10px;
}

.tokshopitem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 230px;
    height: 280px;
    max-height: 400px;
    border: solid 1px #f98d1e;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.tokshopitem h4 {
    margin: 5px;
}

.tokshopitembtn {
    width: 100%;
    height: 40px;
    padding: 2px 0 0 2px;
}

.tokshopitemcontrol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    /* margin-top: auto; */
    height: 80%;
    align-items: flex-end;
}

.tokshopitemcontrol .addminbtn{
    display: block;
    min-width: 20px;
    min-height: 10px;
    max-width: 30px;
    max-height: 20px;
    line-height: 3px;
    /* margin: 0;
    padding: 0; */
}

.tokshopitemcontrol div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tokshopitemcontrol p {
    margin: 10px 10px;
    padding: 0;
    max-height: 100%;
    height: 100%;
    text-align: center;
    align-self: flex-end;
}

#tokshopcontrol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    height: min-content;
    margin-right: 2em;
}

#tokshopcontrol h2 {
    margin-left: 2em;
}

#tokshopcontrol button {
    padding: 3px 5px;
    margin: auto 0;
    width: min-content;
    height: min-content;
    min-height: 30px;
    white-space: nowrap;
}

.tokshopcontroltotal {
    display: flex;
    flex-direction: row;
    gap: .5em;
}

#tokshopcontainer form {
    display: flex;
    flex-direction: column;
}

#tokshopcontainer form div {
    display: flex;
    flex-direction: row;
}

#tokshopcontainer form div button {
    margin: 10px;
    padding: 0;
    min-height: 40px;
    /* height: auto; */
}

#finishorderview {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
}

#orderlist {
    height: 100%;
    border: solid 1px #f98d1e;
    display: grid;
    grid-template-rows: 1fr min-content;
    max-width: 100%;
    border-radius: 10px;
}

#orderlist div {
    height: 100%;
}

#orderlistitems {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: .5em;
}

#orderlistitems::-webkit-scrollbar {
    display: hidden;
}

.orderitem {
    display: flex;
    max-height: 100px;
    width: 100%;
    max-width: 100%;
    gap: 1em;
    /* text-align: center; */
    padding-block: 5px;
    border-bottom: 1px solid #f98b1ea1;
}

.orderiteminfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orderiteminfoprice {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

#ordertotalpricediv {
    text-align: right;
    margin-right: 10%;
}