.imgdiv {
    overflow: hidden;
    text-align: center;
}

.imgdiv img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    max-width: 100%;
}

#tokshoplist {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    column-gap: 2em;
    row-gap: 1em;
    margin: 10px;
    padding: 20px;
    border-style: solid;
    height: 350px;
    max-height: 500px;
    overflow-y: scroll;
}

.tokshopitem {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 3fr 1fr;
    width: 100%;
    max-width: 350px;
    height: 150px;
    max-height: 250px;
    border-style: solid;
    padding: 5px 3px 3px 5px;
    text-align: center;
}

.tokshopitemimg {
    grid-column: 1;
    grid-row: 1/2;
}

.tokshopitemcontrol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    margin-top: auto;
    height: 80%;
}

.tokshopitemcontrol button {
    display: block;
    min-width: 20px;
    min-height: 10px;
    max-width: 30px;
    max-height: 20px;
    line-height: 3px;
    margin: 0;
    padding: 0;
}

.tokshopitemcontrol p {
    margin: auto 0;
    padding: 0;
    max-height: 100%;
    height: 100%;
    text-align: center;
}

#tokshopcontrol {
    display: flex;
    flex-direction: row;
    gap: 2em;
    height: min-content;
    margin-left: 2em;
}

#tokshopcontrol button {
    padding: 0;
    margin: auto 0;
    width: min-content;
    height: min-content;
    min-height: 30px;
}