#wafelbakcontent {
  padding-left: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

form {
  width: 70%;
}

input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: solid 1px #f98d1e;
  background-color: #ffebd6;
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 40%;
  min-width: 100px;
  border-radius: 10px;
  border: solid 1px #f98d1e;
  background-color: #ffebd6;
  transition: 0.5s;
}

button:hover {
  background-color: #f98d1e;
  transition: 0.5s;
  color: white;
}

/* select{
	max-width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px;
    padding-right: 20px;
	border-radius: 10px;
	outline: none;
	border: solid 1px #f98d1e;
	background-color: #ffebd6;
    -webkit-appearance: none;
    appearance: none;
} */

select {
  /* styling */
  width: 40%;
  background-color: #ffebd6;
  border: solid 1px #f98d1e;
  border-radius: 10px;
  display: inline-block;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  outline: none;

  /* reset */

  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

#wafelbakphoto {
  padding: 20px;
}

#wafelbakphoto img {
  width: 100%;
  border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
  #wafelbakphoto {
    padding: 20px 0px;
  }
}
