<head>
    <link rel="stylesheet" href="/public/css/footer.css">
</head>

<footer>
    <h5 class="copyright">copyright - KSA Rooyghem Webteam<br>
    2020</h5>
    <div class="weblinks-onder">
        <ul>
            <li><a href="https://www.facebook.com/ksarooyghem/"><img src="/public/images/weblinks/facebooklogo.png" alt=""></a></li>
            <li><a href="https://www.instagram.com/ksarooyghem/"><img src="/public/images/weblinks/instagramlogo.png" alt=""></a></li>
            <li><a href="https://twitter.com/ksarooyghem"><img src="/public/images/weblinks/twitterlogo.png" alt=""></a></li>
            <li><a href="#"><img src="/public/images/weblinks/weblinklogo.png" alt=""></a></li>
        </ul>
    </div>
</footer>