<div id="backofficenavbar">
    <a href="/activities">Activiteiten</a>
    <a href="/vk">Verhalend Kader</a>
    <% if(admin) { %>
        <a href="/users">gebruikers</a>
    <% } %>
    <a href="/users/logout">logout</a>
</div>