<head>
    <link rel="stylesheet" href="/public/css/backoffice.css">
</head>

<div id="backofficenavbar">
    <a href="/activities">Activiteiten</a>
    <a href="/vk">Verhalend Kader</a>
    <a href="/profile/<%= user.user_id %>">Mijn Profiel</a>
    <% if(admin) { %>
        <a href="/newsfeed">Nieuwtjes</a>
        <a href="/wafelbak/orders">Wafelbak bestellingen</a>
        <a href="/users">Gebruikers</a>
        <a href="/activities/allactivities">Alle activiteiten</a>
        <a href="/vk/allvk">Alle vk's</a>
    <% } %>
    <a href="/users/logout">Logout</a>
</div>