<footer>
    <div class="footerinfo">
        <p>
            KSA Rooyghem <br>
            Engelendalelaan 18, 8310 Sint-Kruis
        </p>
    </div>
    <div class="footersocials">
        <ul>
            <li><a href="https://www.facebook.com/ksarooyghem/"><img src="/public/images/socials/facebookicon.png" alt="Facebook Icon"></a></li>
        </ul>
    </div>
</footer>