<head>
    <link rel="stylesheet" href="/public/css/message.css">
</head>

<%if(typeof error != "undefined"){%>
    <div class="errorMessage">
        <%= error %>
    </div>
<% } %>

<%if(typeof succesError != "undefined"){%>
    <div class="succesMessage">
        <%= succesError %>
    </div>
<% } %>