<nav>
    <ul>
        <li><a href="/">
            <img src="/public/images/rooyghemlogo.jpg" alt="Rooyghem Logo" class="navlogo"></a></li>
        <li><a>Bannen</a></li>
        <li><a>Over Ons</a></li>
        <li><a>Contact</a></li>
        <li><a href="/leiding/info">leiding</a></li>
    </ul>
</nav>