<head>
    <link rel="stylesheet" href="/public/css/navbar.css">
  </head>

<header class="top-header">
    <div class="top-banner">
        <div id="logo"><a href="/"><img src="/public/images/66898832_503377667078169_9064108580730306560_n.jpg" alt=""></a></div>
        <div class="weblinks-boven">
                <a href="https://www.facebook.com/ksarooyghem/"><img src="/public/images/weblinks/facebooklogo.png" alt=""></a></li>
                <a href="https://www.instagram.com/ksarooyghem/"><img src="/public/images/weblinks/instagramlogo.png" alt=""></a></li>
                <a href="https://twitter.com/ksarooyghem"><img src="/public/images/weblinks/twitterlogo.png" alt=""></a></li>
                <a href="#"><img src="/public/images/weblinks/weblinklogo.png" alt=""></a></li>
        </div>
    </div>
    <nav class="nav-bar">
        <ul>
            <li class="drpdwn"><a class="reference" href="#">Bannen</a>
                <ul class="drpdwn-content">
                    <li><a class="firstItem" href="/groups">Overzicht</a></li>
                    <li><a href="/groups/kabouters/info">Kabouters</a></li>
                    <li><a href="/groups/pagadders/info">Pagadders</a></li>
                    <li><a href="/groups/jongknapen/info">Jongknapen</a></li>
                    <li><a href="/groups/knapen/info">Knapen</a></li>
                    <li><a href="/groups/jonghernieuwers/info">Jonghernieuwers</a></li>
                    <li><a href="/groups/aspiranten/info">Aspiranten</a></li>
                </ul>
            </li>
            <li><a class="reference" href="/wafelbak">Wafelbak</a></li>
            <li><a class="reference" href="/overons">Over ons</a></li>
            <li><a class="reference" href="/contact">Contact</a></li>
            <li><a class="reference" href="/users/login">Login</a></li>
        </ul>
        <% if(typeof username != "undefined") { %>
            <p><%= username %></p>
        <% } %>

    </nav>
</header>