<header class="top-header">
    <div class="top-banner">
        <div id="logo"><a href="/"><img src="/public/images/66898832_503377667078169_9064108580730306560_n.jpg" alt=""></a></div>
        <div class="weblinks-boven">
            <ul>
                <div class="wl-box">
                    <li><a href="https://www.facebook.com/ksarooyghem/"><img src="/public/images/weblinks/facebooklogo.png" alt=""></a></li>
                    <li><a href="https://www.instagram.com/ksarooyghem/"><img src="/public/images/weblinks/instagramlogo.png" alt=""></a></li>
                </div>
                <div class="wl-box">
                    <li><a href="https://twitter.com/ksarooyghem"><img src="/public/images/weblinks/twitterlogo.png" alt=""></a></li>
                    <li><a href="#"><img src="/public/images/weblinks/weblinklogo.png" alt=""></a></li>
                </div>
            </ul>
        </div>
    </div>
    <nav class="nav-bar">
        <ul>
            <li class="drpdwn"><a href="#">Bannen</a>
                <ul class="drpdwn-content">
                    <li><a href="/groups/kabouters/info">Kabouters</a></li>
                    <li><a href="/groups/pagadders/info">Pagadders</a></li>
                    <li><a href="/groups/jongknapen/info">Jongknapen</a></li>
                    <li><a href="/groups/knapen/info">Knapen</a></li>
                    <li><a href="/groups/jonghernieuwers/info">Jonghernieuwers</a></li>
                    <li><a href="/groups/aspiranten/info">Aspiranten</a></li>
                </ul>
            </li>
            <li><a href="/overons">Over ons</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/leiding/info">Leiding</a></li>
        </ul>
        <% if(typeof username != "undefind") { %>
            <p><%= username %></p>
        <% } %>

    </nav>
</header>