<nav>
    <ul>
        <li><a href="/">
            <img src="/public/images/rooyghemlogo.jpg" alt="Rooyghem Logo" class="navlogo"></a></li>
        <li>
            <div class="dropdown">
                <button class="dropbtn">Bannen</button>
                <div class="dropdowncontent">
                    <a href="/groups/kabouters/info">Kabouters</a>
                    <a href="/groups/pagadders/info">Pagadders</a>
                    <a href="/groups/jongknapen/info">Jongknapen</a>
                    <a href="/groups/knapen/info">Knapen</a>
                    <a href="/groups/jonghernieuwers/info">Jonghernieuwers</a>
                    <a href="/groups/aspiranten/info">Aspiranten</a>
                    <a href="/leiding/bondsteam">Bondsteam</a>
                </div>
            </div>
        </li>
        <li><a>Over Ons</a></li>
        <li><a href="mailto:info@ksarooyghem.be">Contact</a></li>
        <li><a href="/leiding/info">leiding</a></li>
    </ul>
</nav>