<nav>
    <ul>
        <li><a href="/">
            <img src="public/images/rooyghemlogo.jpg" alt="Rooyghem Logo" class="navlogo"></a></li>
        <% groups.forEach(function(group){ %>
            <li><a href="/groups/<%= group.name %>/info"><%= group.name %></a></li>
        <% }); %>
        <li><a href="/leiding/info">leiding</a></li>
    </ul>
</nav>