.overOns {
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	width: 60%;
}

.overOns button{
	text-decoration: none;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	width: 30%;
	min-width: 100px;
	border-radius: 10px;
	border: solid 1px #f98d1e;
	background-color: #ffebd6;
	transition: 0.5s;
	color: black;
}

.overOns button:hover{
	background-color: #f98d1e;
	transition: 0.5s;
	color: white;
}

#vkTextarea {	
	white-space: pre-line;
	overflow-wrap: break-word;
	margin: auto;
}

#vkDiv{
	white-space: pre-line;
	overflow-wrap: break-word;
	margin: auto;
}

@media only screen and (max-width: 700px) {

	#contactcontainer{
		margin-top: 10px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
	}
}